
body{
  width: 100%;
  height: 100%;
  background: url(../img/Day-den-bong-bong-trang-tri-tiec-san-vuon-GB1019-1.png) ; 
}
.navbar .logo{
    display:  flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}
.navbar .logo img{
width: 40px;

}
.navbar .logo h2{
font-size: 1.7rem;
font-weight: 600;
}
.navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.form-content{
    position:absolute;
    top: 50%;
    left: 50%;
    max-width: 600 px;
    width: 100%;
    background:  rgb(138, 172, 58);
    border: 2px solid chocolate;
    transform: translate(-50%, -50%);

}
.form-content h2{
    text-align: center;
    margin-bottom: 10px;
}
.form-content a:hover{
    text-decoration: underline;
    color: aliceblue;
}
form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;    
    font-weight: 500;
    padding: 14px 0;
    border-radius:  3px;
    margin:  25px 0;
    color: #fff;
    cursor: pointer;
    background: #00bcd4;
}

