* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {  

    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;

}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 300px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    height: 500px;
    
}

.user-info {
    text-align: center;
    display: flex;
    margin-bottom: 20px;
}

.user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.user-info h3 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    color: #333;
}

.menu {
    list-style: none;
    position: relative;

    
}
.sidebar ul {
    list-style: none;
    margin-top: 20px;
}

.menu ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    color: #333;
    cursor: pointer;
  }
  .menu ul li a {
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
  }

  .menu ul li i {
    font-size: 18px;
    color: #333;
  }
  
  .menu ul li:hover,
  .menu ul li a:hover {
    color: #e30613;
  }
  
.content {
        display: flex;
        margin-left: 15px;
        background-color: #fff;
        padding: 20px;
        position: relative;
        border: 1px solid #ddd;
        width: 700px;
        height: 500px;
}

/* css cho quản lí đơn hàng */

.order_header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.order_header ,.information_header  {
    border-bottom: .0625rem solid #120f0f;
    padding: 1.125rem 0;
}
h2{
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 0;
    text-transform: capitalize;
}


.search_bar {
    display: flex;
    margin-top: 15px;
    padding-bottom: 5px;
}

.search_bar input {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 500px;
}

.search_bar button {
    padding: 8px 12px;
    margin-left: 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.no_orders {
    text-align: center;
    margin-top: 100px;
}


.no_orders p {
    font-size: 16px;
    margin-bottom: 20px;
}

.no_orders button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* css cho quản lí thông tin */
.content_section{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 700px;
    position: relative;
}
label{
        font-size: 16px;
        color: #333;
        width: 150px;
        margin-right: 40px;
        text-align: right;
        display: block;
      }
form{
    margin-top: 0em;
    unicode-bidi: isolate;
    width: 100%;
  }

form input[type="text"]
,input[type="email"],
input[type="tel"]
 {
    margin-left: 20px ;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    height: auto;

}
form input[type="radio"]{
    margin-left: 20px ;
    font-size: 16px;

}
.DMY{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 310px;
}
select{
    margin-left: 10px ;
    width: 100px ;
    height: 35px ;
    font-size: 13px;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.09);

}
.userName,.sex , .email , .phone , .bYear {
    display: flex;
    margin: 30px;
}
a {
    color: #007bff;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 10px;
  }

.submit{
text-align: center;
}  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #e30613;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 500px;
    text-align: center;
  }
  
  button[type="submit"]:hover {
    background-color: #b4050e;
  }
  